


#head{
    border: 1px solid black;
    text-align: center;
}

#nav{
   border: 1px solid black;
   position: sticky;
   top: 0%;
}

.val{
    display: inline-block;
    padding-left: 200px;
    line-height: 70px;
}
.fidiv{
    height:145vh;
    border: 1px solid black;
}

#footer{
    border: 1px solid black;
    padding: 20px;
    position:fixed;
    bottom: 0px;
    text-align: center;
    width: 96.2%;
}















