table,tr,th,td{
    border: 1px solid black;
    min-height: 60vh;
    margin-top: 30px;
    margin-left: 400px;
    border-collapse: collapse;
    padding: 20px;
    padding-right: 40px;
}
table{
    background-image: url("../ipl\ cup.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
#co{
    color: white;
}
body{
    background-color: darkblue;
}

.space{
    padding-right: 100px;
}
td{
    /* background-color: rgb(6, 22, 54); */
    color: white;
    
}

#point:hover{
    
    color: orangered;
    background-color: rgba(255, 0, 0, 0.5);
}